{{!-- This is the profile page template --}}

{{!-- Temp html code --}}
<html>
    <head>
        <title>{{user.firstName}} {{user.firstName}} profile</title>
    </head>

    <body>
        <h1>{{user.firstName}} {{user.lastName}}</h1>
        <p> Student </p>
        <p> Email: </p>
    </body>
</html>