/* Temporary CSS file for the Calendar */



/* Month header */
.month {
    padding: 10px;
    width: 100%;
    background-color: #1abc9c;
    text-align: center;
    border: 3px black solid;
  }
  
  /* Month list */
.month ul {
    margin: 0;
    padding: 0;
  }
  
.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  /* Previous button inside month header */
    .month .prev {
    float: left;
    padding-top: 10px;
  }
  
  /* Next button */
    .month .next {
    float: right;
    padding-top: 10px;
  }
  
  /* Weekdays (Mon-Sun) */
    .weekdays {
    padding: 5px;
    background-color:#ddd;
  }
  
    .weekdays li {
    display: inline-block;
    width: 12%;
    color: #666;
    text-align: center;
  }
  
  /* Days (1-31) */
    .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    text-align: center;
  }
  
    .days td {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }
  
  /* Highlight the "current" day */
    .days td .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
  }