@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&family=Newsreader:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* Top Header Styles */

.header {
  width: 100%;
  /* background: #377684; */
  background-color: var(--variable-collection-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #F5F5F5;
  font-size: 1.5rem;
  font-weight: 500;
  flex-wrap: wrap;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  float: left;
}

.logo-container img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.profile-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  float: right;
}

/* .header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--variable-collection-color);
  border-bottom: none;
  box-shadow: 0px 4px 6px #0000001a;
  position: relative;
  z-index: 10;
}


.logo {
  width: 69px; 
  height: 69px;
  display: flex;
  float: left;
  gap: 10px;
  position: absolute;
  left: 20px;
}
*/

.labyrinthHeader {
  font-family: "Odor Mean Chey", Helvetica, sans-serif;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  flex-grow: 0; 
  /* position: absolute; */
  white-space: nowrap; 
  margin: auto;
  padding: 10px;
} 


.elementContainer .element-avatar {
  width: 73px;
  height: 73px;
  border-radius: 1823.17px;
  border: 1.82px solid;
  border-color: var(--x-backgrounddefault);
  background-image: url('../../uploads/profile_pics/avatar.png');
  background-size: cover;
  float: right;
  background-position: 50% 50%;
  position: absolute;
  right: 20px;
}

.headerButtonContainer {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 20px;
}

.headerButtonContainer .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  font-family: "Newsreader", Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  min-width: 90px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: none;
}

.headerButtonContainer .button-login {
  background-color: white;
  color: black;
}

.headerButtonContainer .button-login:hover {
  background-color: #cecece;
}


.headerButtonContainer .button-register {
  background-color: #2C2C2C;
  color: white;
}

.headerButtonContainer .button-register:hover {
  background-color: black;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}