@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Odor+Mean+Chey&family=Newsreader:wght@400;700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

/* Calendar Styles */

.calendarContainer {
  width: 395px;
  padding: 20px;
  background-color: var(--colori-neutralibianco-chiaro);
  border-radius: 20px;
  border: 1px solid;
  border-color: var(--primariogrigio-50);
  box-shadow: var(--large);
}

.month {
  padding: 10px;
  width: 100%;
  background-color: #1abc9c;
  text-align: center;
  border: 3px black solid;
}

.month .weekdays th,
.month .weekdays td {
  padding: 5px;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
  .month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
  .month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
  .weekdays {
  padding: 5px;
  background-color:#ddd;
  width: 100% ;
}

  .weekdays li {
  display: inline-block;
  width: 12%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
  .days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  text-align: center;
}

  .days td {
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.calendarContainer .weekdays th, 
.calendarContainer .weekdays td {
  padding: 5px;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

  /* Remove left border for the first column */
  .calendarContainer .weekdays th:first-child, 
  .calendarContainer .weekdays td:first-child {
    border-left: none;
  }
  
  /* Remove right border for the last column */
  .calendarContainer .weekdays th:last-child, 
  .calendarContainer .weekdays td:last-child {
    border-right: none;
  }

/* Highlight the "current" day */
  .days td .active {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    background: #1abc9c;
    color: black !important
}

/* System Time Styles */
.timeFrame {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7.62px 0px 0px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.timeHeader {
  position: relative;
  width: fit-content;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 15.2px;
  text-align: center;
  letter-spacing: 0.46px;
  line-height: normal;
  white-space: nowrap;
}

.timeContainer {
  display: flex;
  padding-top: 7px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}