/* 
    Last updated by: Jeremiah Ang
    Date: Feb 11, 2025 - 10:32PM

    Notes: 
    - Polished CSS

    - TODO: put Labyrinth logo on the left side
    - TODO: fix alignment of text fields (it's a bit off on the right)
*/

  .register-page-container {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    width: 75%;
    
    /* max-width: 1200px; */

  }

  .register-photo {
    background-image: url('../images/RegisterPhoto.png');
    min-width: 480px;
    min-height: 1078px;
    border-radius: 23.16;

    /* filter: brightness(0.7); */
    padding-left: 420px;

  }

  /* ========= Logo ======== */
  .logo-container {
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 10;
  }

.logo-container img {
    width: 50px;
    height: auto;
    filter: brightness(1) !important;
}

.logo-text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Newsreader', serif;
}


  /* ========= RIGHT SIDE ========= */

  .right-side {
    min-width: 1000px;
    min-height: 1078px;

    background-color: #ffffff;
    border-radius: 30px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    padding-left: 100px;
    padding-top: 200px;
    gap: 40px;
  }

  .register-your-account {
    position: relative;

    font-family: 'Newsreader', serif;
    font-weight: 700;
    color: var(--color-text-brand-on-brand);
    font-size: 33.7px;
    letter-spacing: -0.34px;
    line-height: 33.7px;
    white-space: nowrap;
  }

  .registration-container {
    display: flex;
    flex-direction: column;
    gap: 40px;

    min-width: 760px;

  }

  .span {
    color: #000000;
    letter-spacing: -0.14px;
  }
  
  .blue-text {
    color: #377684;
    letter-spacing: -0.14px;
  }

  .register-input-field, .short-input-container {
    width: 760px;
    height: 60px;

    top: 339px;
    left: 124px;
  }

  .short-input-container {
    width: 365px;
  }

  .text-field, .short-text-field{
    width: 760px;
    height: 54px;

    padding-left: 10px;
    font-size: 20px;

    border-radius: 8px;
    border: 1px solid;
    border-color: #4f4f4f;
  }
  
  .short-text-field {
    width: 365px;
  }

  .label-white-frame {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 10px;
    position: relative;
    top: -65px;
    left: 16px;
    background-color: #ffffff;
  }
  
  .label {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Newsreader-Regular", Helvetica;
    font-weight: 400;
    color: #4f4f4f;
    font-size: 20px;
    letter-spacing: -0.20px;
    line-height: 20px;
    white-space: nowrap;
  }


  .input-row-container {
    display: flex;
    flex-direction: row;
    
    gap: 30px;
  }

  .create-button {
    all: unset;
    display: flex;
    width: 745px;
    height: 47px;
    align-items: center;
    justify-content: center;
    gap: var(--size-space-200);
    padding: var(--size-space-200);
    position: relative;

    background-color: var(--variable-collection-color);
    border-radius: 8px;
    overflow: hidden;
    border: 1.05px solid;
    border-color: var(--variable-collection-color);
  }

  .create-button:hover {
    color:black;
    background-color: #E3E3E3;
  }

  .create-button-label {
    position: relative;
    width: fit-content;
    font-family: "Inter-Regular", Helvetica;
    color: var(--color-text-brand-on-brand);
    font-size: 16.8px;
    letter-spacing: 0;
    line-height: 16.8px;
    font-weight: 400;
    white-space: nowrap;
  }

  .already-account {
    position: relative;

    font-family: 'Newsreader', serif;
    font-weight: 400;
    color: #4f4f4f;
    font-size: 20px;
    letter-spacing: -0.20px;
    line-height: 20px;
    white-space: nowrap;
  }
  
  .login {
    position: relative;

    font-family: 'Newsreader', serif;
    color: #377684;
    font-size: 20px;
    letter-spacing: -0.20px;
    line-height: 20px;
    font-weight: 400;
    white-space: nowrap;
  }

  .login-container {
    display: flex;
    flex-direction: row;
    gap: 7px;
  }


  /* ========= END OF RIGHT SIDE ========= */